.vertical-center {
  background-image: url('../../../assets/images/salleMassage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 790px;
  text-align: center;
  font-size: 25px;
  line-height: 2.5em;
  margin: auto;
font-weight: bolder;
font-family: 'papyrus';

}
h3,h5 {
color: rgb(37, 39, 39);
font-weight: bolder ;
}
.message
{
margin-top: 25px;
}
h2
{
padding-top: 20px;
}
