<div class="vertical-center">
<h2>Contactez-moi</h2>

  <form action="aside-left.component.php" method="post">
        Email <br>
       <input class="mail " type="text" name="mail" required placeholder="Votre Email" value="" />
        <br />
        Sujet: <br> <input class="subject" type="text" name="sujet" placeholder="sujet du message" value="" />
        <br />

        <textarea class="message" name="message" placeholder="Votre message" cols="25" rows="5"></textarea>
        <br />
        <input class="valider" type="submit" name="envoyer" value="Envoyer" />
      </form>
</div>
